@import './variables';


.home {
  height: 100vh;
  background: url('../img/background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white;
  }
}
