@import './variables';

/* Global Styles */
* {
  box-sizing:  border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: $medium-grey;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

td {
	padding: 12px;
}

h1, h2, h3, h4, h5 {
  color: $light-blue;
  font-weight: 800;
}
